/*

* Description:    CSS Layout for Trail Blazers Application V1A
* Date Created:   19/03/29
* Date Updated:   19/03/31

* 01. Variables
* 02. Layout
* 03. Typography
* 04. Top Menu Bar
* 05. Bottom Menu Bar
* 06. Form
* 07. Message Panel
* 08. Button
* 09. iFrame

*/
/* ==========================================================================
Mixins
========================================================================== */
/* ==========================================================================
Variables \ Brand Colour
========================================================================== */
/* ==========================================================================
Variables \ Brand Fonts
========================================================================== */
/* ==========================================================================
Imports
========================================================================== */
/* ============================================================================= 
Layout
================================================================================ */
.primary__header {
  grid-area: header; }

.primary__footer {
  grid-area: footer; }

.primary__main {
  grid-area: main; }

.primary {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 80px  1fr 80px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0; }

.primary__main {
  margin: 60px 40px; }

@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .primary__main {
    margin: 40px; } }

@media only screen and (max-width: 799px) {
  .primary__main {
    margin: 40px 20px; } }

@media only screen and (max-width: 379px) {
  .primary__main {
    margin: 20px 20px 40px; } }

/* ============================================================================= 
Typography
================================================================================ */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.0125em; }

h1, h2, h3, h4 {
  font-weight: 700; }

h1 {
  display: block;
  margin: 0 0 20px 0;
  font-size: 42px;
  line-height: 1.136em;
  letter-spacing: -0.0375em; }

h2 {
  margin: 40px 0 20px;
  font-size: 22px;
  line-height: 1.136em; }

h3 {
  margin: 40px 0 20px;
  font-size: 20px;
  line-height: 1.136em; }

h4 {
  margin: 40px 0 20px;
  font-size: 18px;
  line-height: 1.136em;
  text-transform: none; }

p {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 1.5em; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* ============================================================================= 
02. Typography \ Media Queries
================================================================================ */
@media only screen and (min-width: 800px) and (max-width: 1279px) {
  h1 {
    font-size: 1.7500rem; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 20px; }
  p, ul, ol {
    font-size: 18px; } }

@media only screen and (min-width: 380px) and (max-width: 799px) {
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 20px; }
  p, ul, ol {
    font-size: 18px; } }

@media only screen and (max-width: 379px) {
  h1 {
    font-size: 20px; }
  h2 {
    font-size: 22px; }
  h3 {
    font-size: 18px; }
  h4 {
    font-size: 18px; }
  p, ul, ol {
    font-size: 16px; } }

/* ============================================================================= 
Top Menu Bar
================================================================================ */
.primary__top-bar {
  position: fixed;
  top: 0;
  width: calc(100% - 20px);
  width: 100%;
  padding: 20px;
  background-color: #49281F;
  color: white;
  -webkit-box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 2; }

.primary__top-bar .logo {
  display: block;
  float: left;
  padding: 10px 0;
  border-bottom: none;
  font: 500 18px/20px "Open Sans", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .primary__top-bar .logo:link, .primary__top-bar .logo:visited {
    color: white;
    text-decoration: none; }
  .primary__top-bar .logo:hover, .primary__top-bar .logo:focus {
    color: #758918; }

/* ============================================================================= 
Bottom Menu Bar
================================================================================ */
.primary__btm-bar {
  padding: 10px;
  background-color: #49281F;
  -webkit-box-shadow: 1px -4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px -4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  z-index: 3; }

.copyright {
  display: inline-block;
  margin: 0;
  padding: 20px;
  font: 500 16px/20px "Open Sans", Arial, sans-serif;
  text-transform: uppercase; }
  .copyright a:link {
    color: #758918;
    text-decoration: none;
    border-bottom: none; }
  .copyright a:visited {
    color: #758918;
    text-decoration: none; }
  .copyright a:hover,
  .copyright a:focus {
    color: white;
    text-decoration: none; }

@media only screen and (max-width: 599px) {
  .copyright {
    width: calc(100% - 20px);
    padding: 20px 10px 0;
    text-align: center; } }

@media only screen and (max-width: 379px) {
  .copyright {
    font-size: 12px; } }

/* ============================================================================= 
Form
================================================================================ */
form {
  width: 100%; }

form label {
  display: block;
  margin: 10px 0;
  font: normal 300 18px/40px "Open Sans", Arial, sans-serif;
  text-transform: uppercase; }

form input,
form textarea {
  height: 40px;
  width: calc(100% - 16px);
  margin: 0 0 10px 0;
  padding: 0 7px;
  background-color: transparent;
  border: 1px solid #888888;
  border-radius: 3px;
  color: white;
  font: normal 300 20px/40px "Open Sans", Arial, sans-serif;
  resize: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

form input:required,
form textarea:required {
  box-shadow: none; }

form input:invalid,
form textarea:invalid {
  box-shadow: none; }

form textarea {
  height: auto;
  width: calc(100% - 16px);
  padding: 7px;
  line-height: 1.4em; }

form input:focus,
form textarea:focus {
  background: #e7e7e7;
  color: #230A04;
  outline: 0; }

.success,
.error {
  display: block;
  padding: 0 0 10px 0;
  font-size: 20px;
  font-weight: 300; }

/* ============================================================================= 
Message Panel
================================================================================ */
.msg-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
  z-index: 11; }

/* ============================================================================= 
Message Panel \ Overlay Layer
================================================================================ */
.msg-panel::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s; }

.msg-panel.msg-panel--is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s; }

.msg-panel.msg-panel--is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  transition: background 0.3s 0s; }

/* ============================================================================= 
Message Panel \ Close Icon
================================================================================ */
.msg-panel__close {
  position: absolute;
  top: 30px;
  right: 0px;
  height: 24px;
  width: 24px;
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.msg-panel__close::before, .msg-panel__close::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  height: 3px;
  width: 20px;
  background-color: #888888;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.msg-panel__close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.msg-panel__close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.msg-panel__close:hover {
  background: transparent; }

.msg-panel__close:hover::before, .msg-panel__close:hover::after {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.msg-panel__close:hover::before {
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg); }

.msg-panel__close:hover::after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.msg-panel--is-visible .msg-panel__close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s; }

.msg-panel--is-visible .msg-panel__close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s; }

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

/* ============================================================================= 
Message Panel \ CD Panel
================================================================================ */
.msg-panel__container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #758918;
  background: #49281F;
  z-index: 10;
  color: white;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

.msg-panel--from-right .msg-panel__container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.msg-panel--from-left .msg-panel__container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.msg-panel--is-visible .msg-panel__container {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

/* ============================================================================= 
Message Panel \ CD Panel Content
================================================================================ */
.msg-panel__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  margin: 0 5%;
  padding: 40px 0 80px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/* ============================================================================= 
07. Message Panel \ Media Queries
================================================================================ */
@media only screen and (min-width: 800px) {
  .msg-panel__container {
    width: 75%; } }

@media only screen and (min-width: 1280px) {
  .msg-panel__container {
    width: 50%; } }
