/* ============================================================================= 
Layout
================================================================================ */
.primary__header { grid-area: header; }
.primary__footer { grid-area: footer; }
.primary__main { grid-area: main; }
.primary {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 80px 
  1fr
  80px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.primary__main { 
  margin: 60px 40px;
}
@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .primary__main { 
    margin: 40px; 
  }
}
@media only screen and (max-width: 799px) {
  .primary__main { 
    margin: 40px 20px; 
  }
}
@media only screen and (max-width: 379px) {
  .primary__main { 
    margin: 20px 20px 40px; 
  }
}
