/* ============================================================================= 
Bottom Menu Bar
================================================================================ */
.primary__btm-bar {
  padding: 10px;
  background-color: $color-brand-palette-5;
  -webkit-box-shadow: 1px -4px 4px 0 rgba(0,0,0,.25);
  box-shadow: 1px -4px 4px 0 rgba(0,0,0,.25);
  color: white;
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
}
.primary__btm-bar {
  ul {
    display: block;
    li {
      width: 30%;
    }
  }
}
.fa {
  display: block;
  text-align: center;
  margin: 0 0 5px;
	font: normal normal normal 20px/1 FontAwesome;
}
.navbar-nav {
	width: 100%;
}
.nav > li {
	display: inline-block;
  width: 30%;
  margin: 0 1.6665% 0 1.6665%;
  font: 500 16px/20px $sans-serif-primary;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8);
  &:first-child {
    margin: 0 1.6665% 0 0;
  }
  &:last-child {
    margin: 0 0 0 1.6665%;
  }
  a {
    color: $color-primary-0;
    text-align: center;
    @include transition (all, 0.3s, ease-out);
  }
}
.navbar-nav > li > a {
  padding: 0 15px;
}
.nav > li > a:hover, 
.nav > li > a:focus {
  color: $color-primary-1;
  text-decoration: none;
	background-color: transparent;
}
.navbar-icon-top .navbar-nav>li>a>.fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}
.navbar-icon-top .navbar-nav>li>a>.fa {
  top: 3px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .navbar-icon-top .navbar-brand {
    padding: 25px 15px;
  }   
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-icon-top .navbar-text {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .navbar-icon-top .navbar-btn {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .navbar-icon-top .navbar-nav>li>a {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top .navbar-nav>li>a>.fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
}
