/* ============================================================================= 
Landing Page
================================================================================ */

.landing-page {

  h1 {
    margin: 0 0 40px;
    color: $color-brand-palette-1;
    font: 400 16px/1.5em $sans-serif-primary;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    color: $color-brand-palette-1;
    font: 500 22px/1.5em $sans-serif-primary;
    text-align: center;
  }
  
.btn.reset {
	margin: 40px 0 0;
}


}