/* ============================================================================= 
02. Layout
================================================================================ */
/* Container holding the image and the text */
.container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  color: white;
}

.font-container {
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-top-width: 1em;
    padding-top: 0px;
}


/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 500px;
  left: 100px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 125px;
  left: -100px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





.primary__header { grid-area: header; }
.primary__footer { grid-area: footer; }
.primary__main { grid-area: main; }
.primary {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 180px 
  1fr
  120px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.primary__main { 
  margin: 40px 10px;
}
.primary__main.reset { 
  margin: 0;
  width: 100%;
  height: 100%;
}
hr.seperator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-brand-palette-03 ;
  margin: 40px 0;
  padding: 0;
}

@media only screen and (max-width: 799px) {
  .primary {
    grid-template-rows: 240px 
    1fr
    120px;
  }
}
