.map-bubble {
  background: $color-brand-palette-06;
  color: $color-brand-palette-10;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 1em;
  padding: 10px 20px;
  position: relative;
  text-align: left;
  vertical-align: top;
  min-width: 7em;
  border-radius: 4px;
  h3 {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.136em;
  }
  ul {
    margin: 0 0 10px;
  }
}
.map-bubble:after {
  border: 1em solid transparent;
  border-top-color: $color-brand-palette-06;
  content: '';
  margin-left: -1em;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
}
.map-bubble.large {
  font-size: 2em;
  padding: 0 1em;
  min-width: 4em;
}
.map-bubble.rounded {
	border-radius: .4em;
}