$color-2: #08bdbd;
$max-width: 700px;

.slide-toggle {
  outline: 1px solid black;
  outline: none;
  max-width: $max-width;
  margin: 0;
  box-sizing: border-box;
  &--special {
    .slide-toggle__header {
    }
    .progress-bar__inner {
      transition: background 500ms;
    }
    &.expanded {
      .slide-toggle__header {
      }
    }
  }
  &__header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
    padding: 0;
    outline: 1px solid black;
    outline: none;
    position: relative;
    background: none;
  }
  &__toggle {
      margin: 20px 0 0;
      padding: 10px 10px;
      width: 100%;
      background: $color-brand-palette-03;
      border-color: $color-brand-palette-03;
      border: none;
      border-radius: 4px;
      color: $color-brand-palette-06;
      font: 600 20px/1.5em $sans-serif-primary;
      text-decoration: none;
      text-shadow: 0 1px rgba(0,0,0,0.7);
      text-transform: uppercase;
      text-align: left;
      @include transition (all, 0.3s, ease-out);
      &:hover,
      &:focus {
          background: $color-brand-palette-05;
          color: $color-brand-palette-06;
      }
  }
  &__box {
    overflow: hidden;
  }
  &__box-inner {
    padding: 20px;
    padding: 0;
    p {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
    }
  }
}
.progress-bar {
  height: 2px;
  display: inline-block;
  flex: 1 1 0%;
  position: relative;

  &__inner {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    will-change: transform;
    background: rgba(white, 0.5);
    transform-origin: 0 0;
  }
}
