$color-2: #08bdbd;
$max-width: 700px;

// *,
// :before,
// :after {
//   box-sizing: border-box;
// }

// button {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   font-size: 1rem;
//   border: 1px solid gray;
//   padding: 0.5rem 0.75rem;
//   box-shadow: none;
//   border-radius: 0.5rem;
//   background: linear-gradient(
//     0deg,
//     rgba(mix($color-2, white, 20%), 1),
//     rgba(white, 1)
//   );
// }

// html {
//   font-size: 16px;
// }

// body {
//   margin: 0;
//   padding: 1rem;
//   font-family: "Roboto", sans-serif;
//   min-height: 102vh;
// }

// .app {
//   padding-bottom: 20rem;
// }

.slide-toggle {
  outline: 1px solid black;
  outline: none;
  max-width: $max-width;
  margin: 0;
//   margin-bottom: 1rem;
  box-sizing: border-box;
  &--special {
    .slide-toggle__header {
    }
    .progress-bar__inner {
      transition: background 500ms;
    }
    &.expanded {
      .slide-toggle__header {
      }
    //   .progress-bar__inner {
    //     background: rgba(white, 0.8);
    //   }
    }
  }
  &__header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
    padding: 0;
    outline: 1px solid black;
    outline: none;
    position: relative;

    background: linear-gradient(90deg, rgba($color-2, 1), rgba($color-2, 1));
    background: none;
  }
  &__toggle {
    font-size: 1rem;

    border: 1px solid gray;
    border: none;

    padding: 0.5rem;
    box-shadow: none;
    // margin-right: 1rem;
  }
  &__box {
    overflow: hidden;
  }
  &__box-inner {
    padding: 1rem;
    padding: 0;
    // justify-content: center;
    // align-items: center;
    // line-height: 1.5;

    p {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
    }

    button {
      margin: 1rem auto 0;
      display: block;
    }
  }
}

// .state-values {
//   border-top: 1px solid $color-2;
//   padding: 1rem;
//   font-weight: 300;
//   span:first-of-type {
//     display: inline-block;
//     min-width: 8rem;
//   }
// }

// .content {
//   max-width: $max-width;
//   border: 1px solid black;
//   margin: 0 auto;
//   margin-bottom: 1rem;
//   padding: 1rem;

//   h1 {
//     font-size: 2rem;
//     margin: 0;
//     paddng: 0;
//     font-weight: 300;
//   }
//   a {
//     color: black;
//   }
// }

.progress-bar {
  height: 2px;
  display: inline-block;
  flex: 1 1 0%;
  position: relative;

  &__inner {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    will-change: transform;
    background: rgba(white, 0.5);
    transform-origin: 0 0;
  }
}
