/* ============================================================================= 
10. Trail Panel
================================================================================ */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.container-fluid.reset {
  margin-right: -40px;
  margin-left: -40px;
  margin-top: -60px;
  padding: 0;
}
.trail {
  padding: 0 40px;
  color: $color-brand-palette-01;
  ul {
    font-size: 18px;
    font-weight: 400;
  }
}