/* ============================================================================= 
10. Trail Panel
================================================================================ */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.container-fluid.reset {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: -60px;
  padding: 0;
}
// .trail {
//   padding: 0 40px;
//   color: $color-brand-palette-01;
//   ul {
//     font-size: 18px;
//     font-weight: 400;
//   }
// }




.red-border {
  border: 1px solid red;
}


.lists-container {
  background: white;
}







.lists-container {
  margin: 0 0 40px;
  padding: 40px;
  border-radius: 4px;
  background: $color-brand-palette-06;
  color: $color-brand-palette-10;

  .single-trail {
    margin: 0 0 20px;
  }

  h2 {
    margin: 0 0 20px;
    color: $color-brand-palette-03;
  }
  h3 {
    margin: 10px 0;
  }
  p {
    font-weight: 400;
  }


}


.trail__full-info i,
.trail__fix-request i,
.trail__comments i,
.trail__display-fix-requests i {
  float: left;
  width: 34px;
  height: 34px;
  background-color: $color-brand-palette-01;
  border-radius: 100%;  
  color: $color-brand-palette-03;
  text-align: center;
  font-size: 20px;
  line-height: 34px;
  margin: -4px 10px 0 -5px;
}

.single-solution {
  border: 1px solid $color-brand-palette-03;
}


@media only screen and (max-width: 799px) {
  .lists-container {
  margin: 0 0 40px;
  padding: 20px;
  }
}