/* ============================================================================= 
Typography
================================================================================ */
h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-primary;  
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.0125em;
}
h1, h2, h3, h4 {
  font-weight: 700;
}
h1 {
  display: block;
  margin: 0 0 20px 0;
  font-size: 42px;
  line-height: 1.136em;
  letter-spacing: -0.0375em;
}
h2 {
  margin: 40px 0 20px;
  font-size: 22px;
  line-height: 1.136em;
}
h3 {
  margin: 40px 0 20px;
  font-size: 20px;
  line-height: 1.136em;
}
h4 {
  margin: 40px 0 20px;
  font-size: 18px;
  line-height: 1.136em;
  text-transform: none;
}
p {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 1.5em;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h3.logo-sml {
  margin: 0 0 5px;
  color: $color-brand-palette-1;
  font: 400 16px/24px $sans-serif-primary;
  text-align: center;
}

.push-menu {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 60px;
  .left,
  .right {
    display: inline-block;
    width: calc(50% - 2px);
    padding: 2px 20px;
    border: 1px solid $color-brand-palette-3;
    color: white;
    font: 400 12px/20px $sans-serif-primary;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    @include transition (all, 0.3s, ease-out);
    &:hover,
    &:focus {
      background: $color-brand-palette-2;  
    }
  }
  .left {
    background: $color-brand-palette-3;
  }
}

.push-menu.reverse {

  .left {
    background: transparent;
      &:hover,
      &:focus {
        background: $color-brand-palette-2;  
      }
  }
  .right {
    background: $color-brand-palette-3;
      &:hover,
      &:focus {
        background: $color-brand-palette-2;  
      }
  }
  
}



/* ============================================================================= 
02. Typography \ Media Queries
================================================================================ */
@media only screen and (min-width: 800px) and (max-width: 1279px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  p, ul, ol {
    font-size: 18px;
  }
}
@media only screen and (min-width: 380px) and (max-width: 799px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  p, ul, ol {
    font-size: 18px;
  }
}
@media only screen and (max-width: 379px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 18px;
  }
  p, ul, ol {
    font-size: 16px;
  }
}
